<!-- component -->
<div class="flex items-center justify-center min-h-screen px-5">
  <div
    class="dark:bg-gray-800 flex flex-col w-full md:w-3/4 xl:w-2/5 border dark:border-gray-900 rounded-lg px-8 py-5"
  >
    <div class="dark:text-white">
      <h1 class="font-bold text-4xl">Welcome</h1>
      <p class="font-semibold">Let's create your account!</p>
    </div>
    <form class="flex flex-col space-y-3 mt-5 dark:text-white">
      <input
        type="text"
        placeholder="First name"
        class="border rounded-lg py-3 px-3 dark:bg-gray-700 dark:border-gray-700 placeholder-gray-500"
      />
      <input
        type="text"
        placeholder="Last name"
        class="border rounded-lg py-3 px-3 dark:bg-gray-700 dark:border-gray-700 placeholder-gray-500"
      />
      <input
        type="text"
        placeholder="Email"
        class="border rounded-lg py-3 px-3 dark:bg-gray-700 dark:border-gray-700 placeholder-gray-500"
      />
      <button
        class="border border-blue-500 bg-blue-500 text-white rounded-lg py-3 font-semibold"
      >
        Submit
      </button>
    </form>
    <button
      class="border border-blue-500 bg-blue-500 text-white rounded-lg py-3 font-semibold mt-5"
      (click)="login()"
    >
      Login Using Google
    </button>
  </div>
</div>

<!-- <button
    class="btn btn-primary"
    (click)="login()"
>Login with Google</button> -->
