<div
  class="w-full text-sm font-medium text-gray-900 bg-white rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:text-white sticky top-28"
>
  <a
    routerLink="/"
    [attr.aria-current]="!category"
    type="button"
    [class]="
      !category
        ? 'text-white bg-blue-700 dark:bg-gray-800 dark:border-gray-600'
        : ''
    "
    class="py-2 px-4 w-full font-medium text-left rounded-lg border border-gray-400 cursor-pointer focus:outline-none focus:dark:bg-gray-600"
  >
    All Categories
  </a>
  <a
    *ngFor="let c of categories$ | async"
    routerLink="/"
    [queryParams]="{ category: c.customID }"
    [attr.aria-current]="category === c.customID"
    [class]="
      category === c.customID
        ? 'text-white bg-blue-700 dark:bg-gray-800 dark:border-gray-600'
        : ''
    "
    type="button"
    class="py-2 px-4 w-full font-medium text-left rounded-lg border border-gray-400 cursor-pointer focus:outline-none dark:focus:bg-gray-600"
  >
    {{ c.name }}
  </a>
</div>
